<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="contenedor_body">
    <section class="contenedor_primario izq">
      <div class="perfil cont_izq">
        <img class="foto_perfil" src="assets\foto_perfil.jpeg" alt="Eliana Quiñonez"/>
      </div>
      <div class="sobre_mi cont_izq">
        <h2>
          <img class="viñeta" src="assets\Chevron-Double-Regular.svg" />Sobre Mi
        </h2>
        <p class="parrafo_sobre_mi">
          Me considero una persona responsable y ordenada. Facilidad de
          adaptación y capacidad de trabajar en equipo, en condiciones de alta
          presión, con iniciativa para resolver problemas.
        </p>
      </div>
      <div class="contacto cont_izq">
        <h2>
          <img class="viñeta" src="assets\Chevron-Double-Regular.svg" />Contacto
        </h2>
        <dl>
          <dt>
            <img class="icono" src="assets\cell-phone.png" />0981054625 -
            3071571
          </dt>
          <br />
          <dt>
            <img
              class="icono"
              src="assets\mail.png"
            />joselynevernaza_2012@hotmail.com
          </dt>
          <br />
          <dt>
            <img class="icono" src="assets\mail.png" />domelaina12@gmail.com
          </dt>
        </dl>
      </div>
    </section>
    <section class="contenedor_primario der">
      <div class="nombre">
        <h1>Joselyne Eliana Quiñonez Vernaza</h1>
      </div>
      <div class="datos_personales cont_der">
        <h2>
          <img class="viñeta" src="assets\Chevron-Double-Regular.svg" />Datos
          Personales
        </h2>
        <dl>
          <dt>Edad: 22 años</dt>
          <br />
          <dt>Nacionalidad: Ecuatoriana</dt>
          <br />
          <dt>Estado Civil: Soltera</dt>
          <br />
          <dt>Fecha de Nacimiento: 11 de marzo del 2001</dt>
          <br />
          <dt>Cedula de ciudadanía: 0952869188</dt>
          <br />
          <dt>Lugar de Residencia: Guayaquil</dt>
        </dl>
      </div>
      <div class="estudios cont_der">
        <h2>
          <img class="viñeta" src="assets\Chevron-Double-Regular.svg" />Estudios
        </h2>
        <dl>
          <dt>UNIVERSIDAD DE GUAYAQUIL</dt>
          <dd>Carrera de Ingeniería en Software.</dd>
          <dd>En Curso</dd>
          <br />
          <dt>UNIDAD EDUCATIVA "REPUBLICA DE VENEZUELA"</dt>
          <dd>
            Bachiller en Técnico- De servicios en Aplicaciones Informáticas.
          </dd>
          <dd>2016 - 2019</dd>
        </dl>
      </div>
      <div class="idiomas cont_der">
        <h2>
          <img class="viñeta" src="assets\Chevron-Double-Regular.svg" />Idiomas
        </h2>
        <dl>
          <dt>Español</dt>
          <dd>Nativo</dd>
          <dt>Ingles</dt>
          <dd>Basico</dd>
        </dl>
      </div>
      <div class="experiencia_laboral cont_der">
        <h2>
          <img
            class="viñeta"
            src="assets\Chevron-Double-Regular.svg"
          />Experiencias Laborales
        </h2>
        <dl>
          <dt>CARTIMEX S.A.</dt>
          <dd>Pasante</dd>
          <dd>Ensamblaje y Mantenimiento de Equipos de Oficina</dd>
        </dl>
      </div>
      <div class="referencia_laboral cont_der">
        <h2>
          <img
            class="viñeta"
            src="assets\Chevron-Double-Regular.svg"
          />Referencias Laborales
        </h2>
        <ul>
          <li>
            Edison Vernaza Valencia
            <br />
            Jefe de Despacho Cartimex S.A.
            <br />
            0989847424
          </li>
        </ul>
      </div>
      <div class="referencia_personal cont_der">
        <h2>
          <img
            class="viñeta"
            src="assets\Chevron-Double-Regular.svg"
          />Referencias Personales
        </h2>
        <ul>
          <li>
            Jose Francisco Navas Ordoñez
            <br />
            0963002366
          </li>
          <li>
            Bryan Alejandro Montenegro Saltos
            <br />
            0997352365
          </li>
        </ul>
      </div>
    </section>
  </body>
</html>
